
.status-select{
    padding: 1em 2em;
    margin-bottom: 1em;
    border-radius: 5px;
    text-transform: capitalize;

}

.status-select:hover{
    cursor: pointer;
}

option{
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}